@model Category

@{
    ViewBag.Title = "Category Create";
}

<div class="m-content">

    <div class="row">
        <div class="col-md-12">


            <!--begin::Portlet-->
            <div class="m-portlet">
                @*<div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Top &amp; Bottom Actions Bars
                                </h3>
                            </div>
                        </div>
                    </div>*@

                <!--begin::Form-->
                <form class="m-form" asp-action="create" method="post">
                    <div class="m-portlet__foot m-portlet__foot--top m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row align-items-center">
                                <div class="col m--align-left m--valign-middle">
                                    <h3 class="m-subheader__title ">@ViewBag.Title</h3>
                                </div>
                                <div class="col m--align-right">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                    <a asp-action="index" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group">
                            <label asp-for="CategoryName"></label>
                            <input asp-for="CategoryName" class="form-control m-input">
                            <span class="m-form__help text-danger" asp-validation-for="CategoryName"></span>
                        </div>
                    </div>
                    @*<div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions m-form__actions--solid m-form__actions--right">
                                <button type="reset" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-secondary">Cancel</button>
                            </div>
                        </div>*@
                </form>

                <!--end::Form-->
            </div>

            <!--end::Portlet-->

        </div>
    </div>
</div>

@section Scripts {
    
}