@model General

<div class="text-center">
    <div class="author-img" style="background-image: url(/userdata/general/@Model.SiteLogoPath);"></div>
    <h1 id="colorlib-logo"><a href="/">@Model.SiteOwnerName</a></h1>
    <span class="position"><a href="/">@Model.SiteOwnerJob</a> @Model.SiteOwnerCountry</span>
</div>